{% extends 'base.html.twig' %}

{% block title %}Car App{% endblock %}

{% block body %}
    <div id="root"></div>
       <script>
    console.log("Inline script after app.js is executed");
</script>
{% endblock %}

